<%- include("../partials/header.ejs") %>
<% let v = 1; %> 

<div class="container">
    <div class="info-artist d-flex">
        <div class="fav-info d-inline">
            <p class="fav-name "><strong>Manage user</strong></p>
        </div>
    </div>
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">username</th>
                <th scope="col">Firstname</th>
                <th scope="col">Lastname</th>
                <th scope="col">E-mail address</th>
                <th scope="col">Role</th>
              </tr>
            </thead>
            <tbody>
              <% user.forEach(function(user){ %>
                <% v++; %> 
                <tr>
                    <td class="p-4 ps-0"><%= user.username %></td>
                    <td class="p-4 ps-0"><%= user.firstName %></td>
                    <td class="p-4 ps-0"><%= user.lastName %></td>
                    <td class="p-4 ps-0"><%= user.email %></td>
                  <% if(user.isAdmin){ %>
                    <td class="p-4 ps-0"><strong>ADMIN</strong></td>
                  <% } else{ %>
                    <td class="p-4 ps-0">user</td>
                  <% } %>
                    <td>
                        <div class="btn-group mt-3">
                          <% if(!user.isAdmin){ %>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal<%= v %>">
                                Delete
                            </button>
                              <!-- Modal -->
                            <div class="modal fade" id="exampleModal<%= v %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                              <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Delete??</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    Are you sure you want to delete "<strong><%= user.firstName %></strong>" ?
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <form action="/user/<%= user._id %>?_method=DELETE" method="POST">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                  </div>
                              </div>
                              </div>
                          </div>
                            <% } %> 
                        </div>
                    </td>
                  </tr>
              <% }) %> 
            </tbody>
        </table>
</div>
<%- include("../partials/footer.ejs") %> 